.study{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 150px;

}
.study h4 {
  color: #000;
  font-size: 16px;
  font-weight: 500;
}
.study h4 span {
  color: #165df5;
  font-size: 16px;
  font-weight: 500;
}
.study h1 {
  color: #000;
  font-size: 32px;
  font-weight: 500;
}
.study p {
  color: #00000099;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.study-btn{
    display: flex;
    align-items: center;
    gap: 20px;
}
.study-card{
    display: flex;
}