button {
  padding: 11px 24px;
  background: #165df5;
  border: none;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
}
button:hover {
  background: #004ef7;
}
button:active {
  background: #165df5;
}
.secondBtn {
  padding: 10px 25px;
  background: rgba(22, 93, 245, 0.18);
  border: 0.5px solid rgba(22, 93, 245, 0.1);
  border-radius: 12px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
}
.secondBtn:hover {
  background: #165df599;
}
.secondBtn:active {
  background: rgba(22, 93, 245, 0.18);
}
