footer {
  background: #165DF5;
  padding: 15px;
  margin-top: 80px;
}

footer div {
  display: flex;
  justify-content: space-between;
  padding-left: 55px;
  padding-right: 55px;
}
footer ul {
  display: flex;
  gap: 32px;
  color: white;
}
footer ul li {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px; 
}
footer p {
  color: #fff;
  text-align: right;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}
